body {
    background: #D2B48C;
}

table.table1{
    border: 8px solid white;
    border-collapse: collapse;
    width: 100%;
    
}

input[readonly]{
    background-color: #F08080;
}

table.table1 th, td{
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

table.table1 td:hover{
    background-color: #CCCCCC;
}

table.table1 tr:nth-child(even){
    background-color: #F2F2F2;
}

table.table1 th{
    background-color: #FFFF99;
    color: #696969;
    height: 30px;
    
}

table.table1 td{
    background-color: #F08080;
    color: white;
    border: 3px solid white;
}

table.table2{
    border: 8px solid white;
    border-collapse: collapse;
    width: 100%;
    
}

table.table2 th, td{
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

table.table2 tr:nth-child(even){
    background-color: #F2F2F2;
}

table.table2 th{
    background-color: #FFFF99;
    color: #696969;
    height: 30px;
    
}

table.table2 td{
    background-color: #F08080;
    color: white;
    border: 3px solid white;
}
a{
    color: #696969;
}


form{
    
    margin: auto;
    position: relative;
    width: 400px;
    height: 400px;
    color: white;
    border: 4 px solid white;
    border-radius: 10px;
    padding: 10px;
    border: inset 1px solid powderblue;
}
h2{
text-align: center;

}