body {
    background: #D2B48C;
}

table{
    border: 8px solid white;
    border-collapse: collapse;
    width: 100%;
    
}

th, td{
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

td:hover{
    background-color: #CCCCCC;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

th{
    background-color: #FFFF99;
    color: #696969;
    height: 30px;
    
}

td{
    background-color: #F08080;
    color: white;
    border: 3px solid white;
}

a{
    color: #696969;
}

form{
    background: #F08080;
    margin: auto;
    position: relative;
    width: 200px;
    height: 300px;
    color: white;
    border: 4 px solid white;
    border-radius: 10px;
    padding: 10px;
    border: inset 1px solid powderblue;
}
h2{
text-align: center;

}